* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  list-style-type: none;
}
header a {
  text-decoration: none;
}
header .topnav {
  background-image: linear-gradient(to right, #3598b1, #1c818f);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .topnav #logo {
  width: 100px;
  margin: 5px 5px 5px 10px;
}
header .topnav #logo img {
  width: 100%;
}
header .topnav .social {
  font-size: x-large;
  margin-right: 30px;
}
header .topnav .social a {
  padding-right: 10px;
}
header .topnav .social a i {
  color: white;
}
header .bottomnav {
  background-color: #1a5a74;
  padding: 5px 0;
  z-index: 1;
}
header .bottomnav #icon {
  visibility: hidden;
}
header .bottomnav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
  margin-right: 30px;
}
header .bottomnav ul a {
  text-decoration: none;
}
header .bottomnav ul li:not(:first-child) {
  border-right: 1px solid rgba(128, 128, 128, 0.873);
  padding: 5px 20px;
  cursor: pointer;
}
header .bottomnav ul li:not(:first-child) a {
  color: white;
}
header .bottomnav ul li:not(:first-child):hover {
  background-color: rgba(53, 152, 177, 0.0705882353);
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

.main {
  z-index: 2;
}
.main .test {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.main .test .cover {
  flex: 70%;
  width: 100%;
}
.main .test .cover img {
  height: 100%;
}
.main .test .dot {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  padding: 0 30px;
}
.main .test .dot div {
  font-size: 30px;
}
.main .test .info-box {
  flex: 30%;
  margin-left: 10%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .test .info-box .travel-info {
  background-color: rgb(255, 244, 244);
  padding: 15px 20px;
}
.main .test .info-box .travel-info h2 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .test .info-box .travel-info p {
  padding: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.main .test .info-box .travel-info #strong-line {
  font-size: 15px;
}
.main .test .info-box .travel-info h2 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .test .info-box .travel-info p {
  padding: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.main .test .info-box .travel-info #strong-line {
  font-size: 18px;
}
.main .about-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.584), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
}
.main .about-box .left-col {
  flex: 30%;
  align-content: center;
}
.main .about-box .left-col .scroll-box {
  height: 88vh;
  margin: 20px;
  overflow-y: scroll;
}
.main .about-box .left-col .scroll-box div {
  width: 99%;
  height: 35vh;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
}
.main .about-box .left-col .scroll-box div p {
  padding: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}
.main .about-box .left-col .scroll-box div img {
  width: 100%;
  cursor: pointer;
}
.main .about-box .left-col .scroll-box div:last-child {
  margin-bottom: 5px;
}
.main .about-box .close-btn {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(53, 152, 177, 0.4431372549);
  width: 40px;
}
.main .about-box .right-col {
  border: 1px solid rgba(73, 73, 73, 0.249);
  flex: 70%;
  margin: 20px;
  position: relative;
}
.main .about-box .right-col .shipt-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00ae43;
}
.main .about-box .right-col #aboutlanka {
  overflow-y: scroll;
  background-color: #fbfbfb;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak {
  padding: 100px 50px 50px 50px;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak div {
  position: relative;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak div h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 7vh;
  font-weight: 400;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak div #ayubowan {
  position: absolute;
  top: 0;
  transform: translateY(-70%);
  font-family: "Corinthia", cursive;
  font-weight: 900;
  font-size: 15vh;
  color: rgba(0, 0, 0, 0.238);
}
.main .about-box .right-col #aboutlanka .content-inside-lanak p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding: 50px 0 0 0;
  text-align: left;
  margin-top: 50px;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(1) {
  flex: 30%;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(1) img {
  width: 100%;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(2) {
  flex: 40%;
  padding: 50px 10px;
  text-align: center;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(2) h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid rgba(255, 217, 0, 0.397);
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(2) p {
  text-align: center;
  padding: 10px 30px;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(3) {
  flex: 30%;
}
.main .about-box .right-col #aboutlanka .content-inside-lanak .min-box div:nth-child(3) img {
  width: 100%;
}
.main .about-box .right-col #newYear {
  overflow-y: scroll;
  background-color: #fbfbfb;
}
.main .about-box .right-col #newYear .content-inside-year {
  padding: 100px 50px 50px 50px;
}
.main .about-box .right-col #newYear .content-inside-year #close-btn4 {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(53, 152, 177, 0.4431372549);
  width: 40px;
}
.main .about-box .right-col #newYear .content-inside-year div {
  float: left;
  margin: 5px;
  width: 40%;
  padding: 0 50px 10px 0;
}
.main .about-box .right-col #newYear .content-inside-year div img {
  width: 100%;
}
.main .about-box .right-col #newYear .content-inside-year h2 {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.main .about-box .right-col #newYear .content-inside-year p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-bottom: 50px;
}
.main .about-box .right-col #newYear .content-inside-year dd h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  padding: 10px;
}
.main .about-box .right-col #newYear .content-inside-year dd ul {
  margin-left: 50px;
}
.main .about-box .right-col #newYear .content-inside-year dd ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: justify;
}
.main .about-box .right-col #vesak {
  overflow-y: scroll;
  background-color: #fbfbfb;
}
.main .about-box .right-col #vesak .content-inside-vesak {
  padding: 100px 50px 50px 50px;
}
.main .about-box .right-col #vesak .content-inside-vesak #close-btn4 {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(53, 152, 177, 0.4431372549);
  width: 40px;
}
.main .about-box .right-col #vesak .content-inside-vesak div {
  float: left;
  margin: 5px;
  width: 40%;
  padding: 0 50px 10px 0;
}
.main .about-box .right-col #vesak .content-inside-vesak div img {
  width: 100%;
}
.main .about-box .right-col #vesak .content-inside-vesak h2 {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.main .about-box .right-col #vesak .content-inside-vesak p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-bottom: 50px;
}
.main .about-box .right-col #vesak .content-inside-vesak dd h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  padding: 10px;
}
.main .about-box .right-col #vesak .content-inside-vesak dd ul {
  margin-left: 50px;
}
.main .about-box .right-col #vesak .content-inside-vesak dd ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  text-align: justify;
  padding-top: 5px;
}
.main .about-box .right-col #vesak .content-inside-vesak .last-img {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.main .about-box .right-col #vesak .content-inside-vesak .last-img img {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.main .about-box .right-col #poson {
  overflow-y: scroll;
  background-color: #fbfbfb;
}
.main .about-box .right-col #poson .content-inside-poson {
  padding: 100px 50px 50px 50px;
}
.main .about-box .right-col #poson .content-inside-poson #close-btn4 {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(53, 152, 177, 0.4431372549);
  width: 40px;
}
.main .about-box .right-col #poson .content-inside-poson div {
  float: left;
  margin: 5px;
  width: 40%;
  padding: 0 50px 10px 0;
}
.main .about-box .right-col #poson .content-inside-poson div img {
  width: 100%;
}
.main .about-box .right-col #poson .content-inside-poson h2 {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.main .about-box .right-col #poson .content-inside-poson p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-bottom: 50px;
}
.main .about-box .right-col #poson .content-inside-poson .last-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .about-box .right-col #poson .content-inside-poson .last-img img {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.main .about-box .right-col #perehera {
  overflow-y: scroll;
  background-color: #fbfbfb;
}
.main .about-box .right-col #perehera .content-inside-perahera {
  padding: 100px 50px 50px 50px;
}
.main .about-box .right-col #perehera .content-inside-perahera div {
  float: left;
  margin: 5px;
  width: 40%;
  padding: 0 50px 10px 0;
}
.main .about-box .right-col #perehera .content-inside-perahera div img {
  width: 100%;
}
.main .about-box .right-col #perehera .content-inside-perahera h2 {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.main .about-box .right-col #perehera .content-inside-perahera p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-bottom: 50px;
}
.main .about-box .right-col #perehera .content-inside-perahera dd h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  padding: 10px;
}
.main .about-box .right-col #perehera .content-inside-perahera dd ul {
  margin-left: 50px;
}
.main .about-box .right-col #perehera .content-inside-perahera dd ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.main .about-box .right-col #perehera .content-inside-perahera .last-img {
  min-width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
.main .about-box .right-col #perehera .content-inside-perahera .last-img img {
  width: 100%;
  text-align: center;
}
.main .content-box {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(219, 251, 249);
}
.main .content-box h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-align: left;
  padding: 20px;
}
.main .content-box .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.main .content-box .content div {
  flex: 30%;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 244, 244);
  margin: 10px;
  border-radius: 5px;
}
.main .content-box .content div h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
.main .content-box .content div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 0;
}/*# sourceMappingURL=index.css.map */