*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

$bg-linear-color:linear-gradient(to right, #3598b1 , #1c818f);
$fnt-fmily:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@mixin decoration{
  a{
    text-decoration: none;
  }
  list-style-type: none;
}
@mixin flexStyle($type){
}

header{
  //border: 1px solid black;
  @include decoration;

  .topnav{
    //border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(to right, #3598b1 , #1c818f);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    #logo{
      width: 100px;
      margin: 5px 5px 5px 10px;
      img{
        width: 100%;
      }
    }
    .social{
      font-size: x-large;
      margin-right: 30px;
      a{
        padding-right: 10px;
        i{
          color: white;
        }
      }
    }
  }

  .bottomnav{
    background-color:	#1a5a74;
    padding: 5px 0;
    z-index: 1;
    #icon{
      visibility: hidden;
    }
    ul{
      @include decoration;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      justify-content:flex-end;
      li:not(:first-child){
        border-right: 1px solid rgba(128, 128, 128, 0.873);
        padding: 5px 20px;
        cursor: pointer;
        a{
          color: white;
        }
      }
      li:not(:first-child):hover{
        background-color: #3598b112;
      }
      
      margin-right: 30px;
    }
  }
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}
.sticky + .content {
  padding-top: 10px;
}

// here create the style for main class
.main{
  z-index: 2;
  // border: 1px solid black;
  // here create the style for test class
  .test{
    display: flex;
    flex-direction: row-reverse;
    // border: 2px solid rgb(41, 210, 55);
    background-color: #00ff62;
    background-image: url('..//img/exit.png');
    // background-repeat: no-repeat;
    position: relative;
    .cover{
      // border: 1px solid black;
      flex: 70%;
      width: 100%;
      img{
        // border: 1px solid blue;
        height: 100%;
      }
    }
    .dot{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      padding: 0 30px;
      div{
        font-size: 30px;
      }
    }

    // 
    .info-box{
      flex: 30%;
      margin-left: 10%;
      padding: 10px ;
      text-align: center;
      //middle all element inside this box
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      .travel-info{
        background-color: rgb(255, 244, 244);
        //add some padding
        padding: 15px 20px;
        h2{
          font-weight: 600;
          font-family: $fnt-fmily;
        }
        p{
          padding: 10px 0;
          font-family: $fnt-fmily;
          font-size: 16px;
        }
        #strong-line{
          font-size: 15px;
        }
      
        h2{
          font-weight: 600;
          font-family: $fnt-fmily;
        }
        p{
          padding: 10px 0;
          font-family: $fnt-fmily;
          font-size: 20px;
        }
        #strong-line{
          font-size: 18px;
        }
      }
    }
  }

  .about-box{
    //border: 1px solid rgb(0, 0, 0);
    
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.584), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    display: flex;
    flex-direction: row;
    //background-color: #fbfbfb;
    //background-image: linear-gradient(to right, #3598b1 , #1c828f2a);
    .left-col{
      flex: 30%;
      align-content: center;
    
      .scroll-box{
        //border: 1px solid rgb(0, 0, 0);
        height: 88vh;
        margin: 20px;
        overflow-y: scroll;
        div{
          width: 99%;
          height: 35vh;
          overflow: hidden;
          margin-top: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background-color: rgb(255, 255, 255);
          p{
            padding: 10px;
            text-align: center;
            font-family: $fnt-fmily;
            font-size: 22px;
          }
          img{
            width: 100%;
            cursor: pointer;
          }
        }
        div:last-child{
          margin-bottom: 5px;
        }
      }
    }
    //close button
    .close-btn{
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      font-size: 10px;
      cursor: pointer;
      background-color:#3598b171;
      width: 40px;
    }
    .right-col{
      //border: 1px solid rgba(73, 73, 73, 0.249);
      flex: 70%;
      margin: 20px;
      position: relative;
      .shipt-box{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #00ae43;
      }
      #aboutlanka{ // About lanka Styling Start
        overflow-y: scroll;
        background-color: #fbfbfb;
        .content-inside-lanak{
          //padding: 0 50px;
          padding: 100px 50px 50px 50px;
          div{
            position: relative;
            h2{
              font-family: $fnt-fmily;
              font-size: 7vh;
              font-weight: 400;
            }
            #ayubowan{
              position: absolute;
              top: 0;
              transform: translateY(-70%);
              font-family: "Corinthia", cursive;
              font-weight: 900;
              font-size: 15vh;
              color: rgba(0, 0, 0, 0.238);
            }
          }
          p{
            font-family: $fnt-fmily;
            font-size: 20px;
            padding: 50px 0 0 0 ;
            text-align: left;
            margin-top: 50px;
          }
          .min-box{
            display: flex;
            flex-direction: row;
            margin-top: 100px;
            div:nth-child(1){
              flex: 30%;
              img{
                width: 100%;
              }
            }
            div:nth-child(2){
              flex: 40%;
              padding: 50px 10px;
              text-align: center;
              h3{
                font-family: $fnt-fmily;
                border: 1px solid rgba(255, 217, 0, 0.397);
              }
              p{
                text-align: center;
                padding:10px 30px;
              }
            }
            div:nth-child(3){
              flex: 30%;
              img{
                width: 100%;
              }
            }
          }
        } 
      }
      #newYear{
        overflow-y: scroll;
        background-color: #fbfbfb;
        .content-inside-year{
          padding: 100px 50px 50px 50px;
          #close-btn4{
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            font-size: 10px;
            cursor: pointer;
            background-color:#3598b171;
            width: 40px;
          }
          div{
            float: left;
            margin: 5px;
            width: 40%;
            padding: 0 50px 10px 0;
            img{
              width: 100%;
            }
          }
          h2{
            font-size: 3vw;
            font-family: $fnt-fmily;
            padding: 10px;
          }
          p{
            text-align: justify;
            font-family: $fnt-fmily;
            font-size: 20px;
            padding-bottom: 50px;
          }
          dd{
            h3{
              font-family: $fnt-fmily;
              font-size: 2vw;
              padding: 10px;
            }
            ul{
              margin-left: 50px;
              li{
                font-family: $fnt-fmily;
                font-size: 18px;
                text-align: justify;
              }
            }
          }
      }
      }
      #vesak{
        overflow-y: scroll;
        background-color: #fbfbfb;
        .content-inside-vesak{
          padding: 100px 50px 50px 50px;
          #close-btn4{
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            font-size: 10px;
            cursor: pointer;
            background-color:#3598b171;
            width: 40px;
          }
          div{
            float: left;
            margin: 5px;
            width: 40%;
            padding: 0 50px 10px 0;
            img{
              width: 100%;
            }
          }
          h2{
            font-size: 3vw;
            font-family: $fnt-fmily;
            padding: 10px;
          }
          p{
            text-align: justify;
            font-family: $fnt-fmily;
            font-size: 20px;
            padding-bottom: 50px;
          }
          dd{
            h3{
              font-family: $fnt-fmily;
              font-size: 2vw;
              padding: 10px;
            }
            ul{
              margin-left: 50px;
              li{
                font-family: $fnt-fmily;
                font-size: 17px;
                text-align: justify;
                padding-top: 5px;
              }
            }
          }
          .last-img{
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            img{
              width: 100%;
              text-align: center;
              padding: 10px;
            }
          }
      }
      }
      #poson{
        overflow-y: scroll;
        background-color: #fbfbfb;
        .content-inside-poson{
          padding: 100px 50px 50px 50px;
          #close-btn4{
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            font-size: 10px;
            cursor: pointer;
            background-color:#3598b171;
            width: 40px;
          }
          div{
            float: left;
            margin: 5px;
            width: 40%;
            padding: 0 50px 10px 0;
            img{
              width: 100%;
            }
          }
          h2{
            font-size: 3vw;
            font-family: $fnt-fmily;
            padding: 10px;
          }
          p{
            text-align: justify;
            font-family: $fnt-fmily;
            font-size: 20px;
            padding-bottom: 50px;
          }
          .last-img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 100%;
              text-align: center;
              padding: 10px;
            }
          }
      }
      }
      #perehera{
        overflow-y: scroll;
        background-color: #fbfbfb;
        .content-inside-perahera{
          padding: 100px 50px 50px 50px;
          
          div{
            float: left;
            margin: 5px;
            width: 40%;
            padding: 0 50px 10px 0;
            img{
              width: 100%;
            }
          }
          h2{
            font-size: 3vw;
            font-family: $fnt-fmily;
            padding: 10px;
          }
          p{
            text-align: justify;
            font-family: $fnt-fmily;
            font-size: 20px;
            padding-bottom: 50px;
          }
          dd{
            h3{
              font-family: $fnt-fmily;
              font-size: 2vw;
              padding: 10px;
            }
            ul{
              margin-left: 50px;
              li{
                font-family: $fnt-fmily;
                font-size: 18px;
              
              }
            }
          }
          .last-img{
            min-width: 200px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            img{
              width: 100%;
              text-align: center;
            }
          }
      }
    }
  }
  }

  // here create the style for content-box class
  .feedback-box{
    //style for the h2 element 
    border: 1px solid rgb(0, 0, 0);
    background-color: #1c818f;
    
    background-image: linear-gradient(to right, #3598b1 , #1c818f);
    height: 80vh;
    h2{
      font-family: $fnt-fmily;
      font-weight: 600;
      text-align: left;
      margin: 20px 10px 10px  30px;
      font-family: $fnt-fmily;
    }
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;

      //create styles for all div inside above content class
      .service-box{
        flex: 25%;
        padding: 10px;
        text-align: center;
        background-color: rgb(255, 244, 244);
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .feed-img{
          padding: 0;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        h3{
          margin: 0;
          font-family: $fnt-fmily;
          font-weight: 600;
        }
        small{
        }
        p{
          font-family: $fnt-fmily;
          padding: 10px 0;
          background-color: rgba(210, 183, 183, 0.39);
        }
      }
      
    }
    #show-fedbk{
      width: 96%;
      height: 40px;
      cursor: pointer;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family: $fnt-fmily;
    }
  }
}
